doctype html
html
  head
    meta(charset='utf-8')
    link(rel="Shortcut Icon",href="#{assets_head}/images/logo.ico?123")
    link(href="#{assets_head}/amazeui/css/amazeui.min.css",rel="stylesheet",type="image/x-icon")
    title 睡前故事
    style.
      #content{
        padding:20px;

        }
      #header{
        background: url(http://htmljs.b0.upaiyun.com/uploads/1420209087983-music-bg.jpg) no-repeat;
        background-size:cover;
        width:100%;
        height:50px;
        font-size:18px;
        color:#fff;
        line-height: 50px;
        padding-left:10px;

      }
      .share-tip{height:25px;background: #eee;color:#444;line-height: 25px;
      padding-left:10px;font-size:12px;}
    |<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  body
    #header 二十一点 · 睡前故事


    .share-tip 点击右上角可以通过微信分享给朋友们哦,谢谢大家的支持！
    #content
      article.am-article
        .am-article-hd
          h1.am-article-title 第37期《生气汤》
          p.am-article-meta 十一
        .am-article-bd
          p.am-article-lead 当孩子不开心，很生气很愤怒的时候怎么办呢？<br/>这就需要大人在孩子的身边，陪伴幼儿，并且帮助幼儿用正确的方式去排解不良情绪。<br/>生气并不可怕，可怕的是不知道如何去面对它。<br/>一本很有意思的绘本《生气汤》，不管是大朋友还是小朋友，生气的时候，来煮一锅生气汤吧！
          .am-article-divider
          p <audio src="http://yutou.oss-cn-hangzhou.aliyuncs.com/%E7%94%9F%E6%B0%94%E6%B1%A4%281%29.mp3" preload="auto" controls="true"/>
          p
            img(src="http://htmljs.b0.upaiyun.com/uploads/1420206188080-未标题-1.jpg")
          p.
            <!-- 多说评论框 start -->
              <div class="ds-thread" data-thread-key="1" data-title="二十一点睡前故事《生气汤》37" data-url="http://www.html-js.com/music"></div>
            <!-- 多说评论框 end -->
            <!-- 多说公共JS代码 start (一个网页只需插入一次) -->
            <script type="text/javascript">
            var duoshuoQuery = {short_name:"htmljs"};
              (function() {
                var ds = document.createElement('script');
                ds.type = 'text/javascript';ds.async = true;
                ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
                ds.charset = 'UTF-8';
                (document.getElementsByTagName('head')[0]
                 || document.getElementsByTagName('body')[0]).appendChild(ds);
              })();
              </script>
            <!-- 多说公共JS代码 end -->

